$light-grey: #E2E4E9;
$grey-500: #4E4E4E;
$grey-300: #868C98;
$grey-200: #CFCFCF;
$grey-150: #ECECEC;
$grey-100: #F7F7F7;
$white: #FFFFFF;
$primary: #000000;
$primary-light: #2e309233;
$secondary: #FAB104;
$primary-dark: #1A1C6C;
$green: #1BAB3B;